#####
# app
PORT=500
APP_NAME=app


########
## flags
ENV=development
# ENV=production


#####
## db
SQLALCHEMY_ECHO=1
REBUILD_SCHEMA=
# REBUILD_SCHEMA=1

# TABLE_NAME_SUFFIX=__2
# DATABASE_URI_production=postgresql://app:app@95.179.246.149:5544/app

TABLE_NAME_SUFFIX=__
DATABASE_URI_dev=postgresql://app:app@95.179.246.149:5544/app


##########
## secrets
SECRET_KEY=


#####
## io
IOEVENT_AUTH_NEWUSER=@auth:newuser
IOEVENT_COM_PHOTOS_CHANGE_prefix=change:com-photos:
IOEVENT_DOC_CHANGE_prefix=change://doc@
IOEVENT_DOCS_CHANGE_JsonData=change:docs:JsonData:
IOEVENT_DOCS_CHANGE=change:docs
IOEVENT_DOCS_TAGS_CHANGE_prefix=change:docs:tags:
IOEVENT_FILES=@files:updated
IOEVENT_ORDERS_CHANGE=@orders:change:
IOEVENT_POST_CHANGE_SINGLE_prefix=@change:post:4alBPKP:
IOEVENT_POSTS_CHANGE=@change:posts:GCe5RKIXQWDh
IOEVENT_PRODUCT_IMAGES_CHANGE_prefix=change:product-images:
IOEVENT_PRODUCTS_CHANGE_prefix=change:products::
IOEVENT_PRODUCTS_CHANGE_SINGLE_prefix=change:products:DkL11YfpPI:
IOEVENT_PRODUCTS_CHANGE=@change:products:all
IOEVENT_STORY_PHOTOS_CHANGE_prefix=@change:story:images:VDMf82FNKpfl6m:
IOEVENT_USER_POSTS_CHANGE_prefix=@change:posts:rBN5PAj9uZM9wrOq5:
IOEVENT_ORDER_UPDATED=@change:orders:xFeTiEWutrmUxHNp:
IOEVENT_ORDER_PRODUCTS_STATUS=GXV5QkH2yjmZ:
IOEVENT_ORDER_PRODUCTS_DELIVERY_AT=5jzXPwQZmSnh2i5NTg:


##########
## io-cors
IOCORS_ALLOW_ORIGIN_dev=http://localhost:3000
IOCORS_ALLOW_ORIGIN_nikolavrs=https://nikolav.rs


#############
## web tokens
JWT_SECRET=
JWT_SECRET_ACCESS_TOKEN=
JWT_EXPIRE_SECONDS=86400
JWT_SECRET_PASSWORD_RESET=
JWT_SECRET_VERIFY_EMAIL=


###########
## policies
POLICY_APPROVED=@policy:approved:r1loga1PP4
POLICY_EMAIL=@policy:email:HRcEBSaJNx1HQfrzq5DNmh8wEF
POLICY_FILESTORAGE=@policy:storage:fDixi7hFsnq5DNmh8wEF
POLICY_ADMINS=@policy:admins:ext0ZRQE9gmZ8Bvwb8GMq5DNmh8wEF
POLICY_ALL=@policy:root:5UQVzwYJ0q7wfOHaqFnyq5DNmh8wEF


#######
## auth
ADMIN_EMAIL=admin@nikolav.rs
ADMIN_PASSWORD=
USER_EMAIL=korisnik@nikolav.rs
USER_PASSWORD=korisnik@nikolav.rs
AUTH_PASSWORD_MIN_LENGTH=2


##########
## storage
# UPLOAD_PATH=/app
UPLOAD_PATH=C:\Users\Korisnik\sites\001-be
# UPLOAD_PATH=/home/app
UPLOAD_DIR=storage


#############
## docs, data
COM_PHOTOS_prefix=@com:photos:
LIKEDISLIKE_CACHE_ID=4OpsEOLNYG1wuF64OhBr
ORDER_COMPLETED_FEEDBACK_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSd1caHUTPGUY98tSwFS7BfIsm3qSv6YtozUdazvEXDcNGHubg/viewform?usp=sf_link
POST_IMAGES_prefix=CkJmp2R984QY@
POSTS_CHAT_prefix=chat:posts:xztHIGAXy3sicbWP6p:
POSTS_LIKES_prefix=likes:posts:2DvdBZfT7zJvwWIAu:
PREFIX_BY_DOC_ID=6Jz7NKqkBXceZuvpUm
PRODUCT_IMAGES_prefix=@images:product:
PRODUCT_RATING_prefix=rating:products:FHj8C6t30equ4D::
PRODUCTS_LIKES_prefix=MEDs6Eov9fHBM5HZ6I1X::
PRODUCTS_SEARCH_RANDOM_MAX=10
TAG_FEEDBACK_ON_ORDER_COMPLETED=order:feedback:NNUCcX
TAG_USER_PROFILE_prefix=@user:profile:Pvo4LRdG:
TOPIC_CHAT_PRODUCTS_prefix=chat:products:vyuoiOe3eZW7::
TOPIC_RATING_POSTS_prefix=rating:posts:31p4idFZ7uzT7TKm:
TOPIC_RATINGS=ratings:N1cdcqMM
USER_CONFIG_PREFERENCES=config:98BAXCnOynhYgm640So:


# accounts
TAG_ARCHIVED=archived:PheVppxSbTAxMhrqL
TAG_EMAIL_VERIFIED=email-verified:hba0P


########
## email
MAIL_COMPANIES_ON_ORDER=
MAIL_SERVER=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_USE_TLS=
MAIL_USE_SSL=1
MAIL_ASCII_ATTACHMENTS=1


# misc
PRODUCT_CATEGORY_prefix=@product:category:


# https://dnofiq4anfaqwrzctj.xyz
# http://127.0.0.1:5000
